body {
  background: #000;
  color: #fff;
  font-family: helvetica, sans-serif;
}
body #main {
  position: absolute;
  width: 640px;
  top: 50%;
  left: 50%;
  text-align: center;
  margin-left: -320px;
  margin-top: -20px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 3s;
  -moz-transition: opacity 3s;
  -o-transition: opacity 3s;
  -ms-transition: opacity 3s;
  transition: opacity 3s;
}
body #main.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
