@import 'nib'

body
	background #000
	color #FFF
	font-family helvetica, sans-serif
	#main
		position absolute
		width 640px
		top 50%
		left 50%
		text-align center
		margin-left -320px
		margin-top -20px
		opacity 0
		transition opacity 3s
		&.active
			opacity 1